@import "../vars";
@import "../base";

r-popup_login{
	display: block;
}

.form_line{
	margin-bottom: 12px;
	margin-bottom: 26px;
}
.form-control{
	box-shadow: 0 0 6px #E4E1E1 inset;
	border: 1px solid #D7D7D7;
	padding: 0 12px;
	box-sizing: border-box;
	width: 100%;
	min-height: 38px;
	margin-top: -4px;
	border-radius: 0;
}
.form_line label{
		font-weight: normal;
		margin-top: 4px;
}
