@import "../base";
@import "../vars";

r-variants_field{
  display: inline;
}
.variantsfield{
    .base-field();
    min-width: 140px;
}

.variantsfield__choicewrapper{
    .base-field__choicewrapper();
}
.variantsfield__choice{
    .base-field__choice();
}
.variantsfield__text{
    .base-field__text();
}
.variantsfield__icon{
    .base-field__icon();
}