@import "../vars";
@import "../base";

@btn_height: 48px;

r-image_upload{
  display: block;
}


.imageUploader{
  display: block;
  border:  1px solid #D3D3D3;
  box-shadow: 0 0 8px #C0B7B7;
  background: white no-repeat center;
  background-size: contain;
  position: relative;
  overflow: hidden;
  // margin-top: 22px;


  &:hover{
    .imageUploader__bottom_panel{
      bottom: 0;
    }
  }
}

.imageUploader__bottom_panel{
    position: absolute;
    bottom: -@btn_height;
//    bottom: 0px;
    width: 100%;
    background: rgba(0,0,0,0.4);
    height: @btn_height;
    .transition-properties(all .2s ease-in-out;);
    // padding-top: 12px;
    text-align: center;
    color: white;
    box-sizing: border-box;
    opacity: 0.7;

    &:hover{
      opacity: 1;
    }

  }

  .imageUploader__button{
	cursor: pointer;
	line-height: @btn_height;

  }
  .imageUploader__status{
	
  }