@import "../vars";
@import "../base";

.switcher{

}

.switcher__slider{
  .no-select();

  box-shadow: 0 0 5px #EFEFEF inset;
  position: relative;
  cursor: pointer;
  border: 1px solid #ECEAEA;
  border-radius: 13px;
  overflow: hidden;
  height: 30px;
  display: inline-block;
  line-height: 180%;
  background: #F8F8F8;
}

.switcher__first, .switcher__second{
    padding: 8px 10px;
    color: #E1E1E1;
    height: 30px;
    line-height: 30px;
}
.switcher__slider__second,.switcher__slider__first{
    border: 1px solid #C0B7B7;
}
.switcher__slider__first{
    .switcher__first{
      background: #fdf6f6;
      color: #6F6F6F;
      box-shadow: 0 0 15px #AEAEAE inset;
    }
}
.switcher__slider__second{
    .switcher__second{
      background: #fdf6f6;
      color: #6F6F6F;
      box-shadow: 0 0 15px #AEAEAE inset;
    }
}
