
@import "../vars";
@import "../base";


r-select_field{
  display: inline;
}

.popup {
    width:0;
    height: 0;
    z-index: 2500;
    left: 0;
    top:0;
    position: absolute;
}
.popup__back{
  background: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top:0;
}
.popup__window{
  .transition-properties(all,0.3s,cubic-bezier(0.250, 0.460, 0.450, 0.940));
    padding: 31px 55px 37px 55px;
    width: @popup_width;
    overflow-y: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-height: 90%;
    max-width: @quad*16;
    background: @white;
    box-shadow: 0 0 20px @black;
}
.popup__content{

}
.popup__title{
  line-height: 150%;
  letter-spacing: -0.02rem;
  // font-weight: bold;
  margin-bottom: 26px;

  font-family: 'PT Serif', serif;
  font-weight: lighter;
  color: @title_color;
  font-size: 3.6rem;
}
.popup__close{
    position: absolute;
    cursor: pointer;
    width: 22px;
    height: 22px;
    background: url(../images/close.png) no-repeat center;
    right: 10px;
    top:10px;
    padding: 0px;

    &:hover{
      box-shadow: 0 0 4px #ccc;
    }
}
