
@import "../vars";
@import "../base";


r-scrollable{
  display: block;
}

.scroll_wrap{
	position: relative;
  	// height: 100%;
    height: inherit;
  	transition: right 0.4s ease;
}
.crop{
	height: 100%;
    overflow: hidden;
}
.scroll_content{
	 position: relative;
      width: 100%;
}
.scroll{
	width: 4px;
    height: inherit;
    position: absolute;
    right: -4px;
    top: 0;
    bottom: 0;
    background: rgba(200, 200, 200, 0.4);
    border-radius: 2px;
}
.scrollbar{
	 width: 6px;
    height: 30px;
    background: #515050;
    position: absolute;
    right: -4px;
    top: 100px;

    &:hover {
      width: 12px;
      right: -8px;
      padding-top: 4px;
      padding-bottom: 4px;
      margin-top: -4px;
    }
}
