@import "../vars";
@import "../base";

.checkbox{
  display: inline-block;
  cursor: pointer;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 20px;
  top: 8px;
}

.checkbox__mods__disabled{
  color: grey;
  opacity: 0.5;
  cursor: not-allowed;
}
