
@import "../vars";
@import "../base";

.disciplines_collect{

}
.disciplines_collect__title{
  color: @title_color;
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom:20px;
  padding-left: 4px;
}
.disciplines_collect__list{

}
.disciplines_collect__result_item{
  padding: 6px 4px;
  .keyframes(move-right;{
    0% { transform: translate(-3em,0); opacity: 0; }
    100% { transform: translate(0,0); opacity: 1; }
		});

	.animation(move-right 0.2s ease-out alternate)
}

.keyframes(@name; @arguments) {
	@-moz-keyframes @name { @arguments(); }
	@-webkit-keyframes @name { @arguments(); }
	@keyframes @name { @arguments(); }
}

.animation(@arguments) {
	-webkit-animation: @arguments;
	-moz-animation: @arguments;
	animation: @arguments;
}
