
@import "../vars";
@import "../base";


r-cities_list{
  display: block;
}
.cities_list{
  // max-height: 400px;
  // overflow: hidden;
}
.cities_list__title{
  color: @title_color;
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 20px;
    padding-left: 4px;
}
