
@import "../vars";
@import "../base";


r-input_element{
  display: inline;
}

.input_element{
    .base-field();
}
.input__message{
  margin-top:0px;
  margin-bottom: 10px;
}
.input_element__disabled{
  .input_element__choice{
    .gradient(#f4f1f1, #ececec);
    color: #c2c2c2;
    cursor: not-allowed;
    box-shadow: 0px 0px 1px #aaa;
  }
}

.input_element__choicewrapper{
    .base-field__choicewrapper();
}

.input_element__choice{
  .base-field__choice();
}

.input_element__text{
  .base-field__text();
}

.input_element__icon{
    .base-field__icon();
}
.input_element__clear{
  position: absolute;
  right: 8px;
}
.input_mod__wrong{
  .input_element__text{
    color: #AC1313;
  }
  .input__message{
    color: #AC1313;
  }

   .input_element__choice{
     box-shadow: 0px 1px 2px #D10000;
   }
}
