@import "../vars";
@import "../base";

.icon{
  cursor: pointer;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 20px;
}
.icon__mods__success{
  color: @success_text_color;
	&:hover{
			background: mix(@white_back, @success_text_color,90%);
	}
}

.icon__mods__error{
	color: @error_text_color;
	&:hover{
			background: mix(@white_back, @error_text_color,90%);
	}
}
