@import "../vars";
@import "../base";

r-textarea{
	display: block;
}

.textarea textarea{
		box-shadow: 0 0 6px #E4E1E1 inset;
    border: 1px solid #D7D7D7;
    padding: 0 12px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 0;
		min-height: 200px;
}

.textarea_mod_error textarea{
	background: #FFE7E7;
}

.textarea_message{
	color: #D83737;
}
