@import "../vars";
@import "../base";


.searchPanel{
  background: #f8f8f8;
    box-shadow: 0 0 24px #aaa;
    padding: 46px 71px 40px 71px;
    position: relative;
}
.searchPanel__switcher{
  position: absolute;
  top: -15px;
  left: 50%;
  margin-left: -130px;
  width: 260px;
}
