@import "../vars";
@import "../base";

r-list_item{
	display: block;
}

.list_item{
	padding: 6px 4px;
	cursor: pointer;
	// text-decoration: underline dashed;
    &:hover{
        background: lighten(@dark_back,20%);
    }
}
.list_item__active, .list_item__selected{
	background: @dark_back;
    color:white;
}

.list_item__mod__success{
	color: @success_text_color;
	&:hover{
			background: mix(@white_back, @success_text_color,90%);
	}
	&.list_item__active, .list_item__selected{
		background: mix(@white_back, @success_text_color,20%);
		color: white;
	}
}
.list_item__mod__error{
	color: @error_text_color;
	&:hover{
			background: mix(@white_back, @error_text_color,90%);
	}
	&.list_item__active, .list_item__selected{
		background: mix(@white_back, @error_text_color,20%);
		color: white;
	}
}
