@import "../vars";
@import "../base";

.button{
  cursor: pointer;
  padding: 10px 20px;
  .gradient(lighten(@button_up, 15%), #f4f4f4);
  // .gradient(@button_up, @button_down);
  .rounded-corners(4px);
  display:inline-block;
  color:#666666;
  text-decoration:none;

  text-align: center;
  box-shadow: 0px 1px 2px #aaa;

  &:hover, &.toggled {
    .gradient(lighten(@button_up,10%), lighten(@button_down,10%));
  }
}
.button__mods__disabled{
  .gradient(lighten(@disabled_color, 15%), lighten(@disabled_color, 10%)) !important;
  color: @disabled_color !important;
  cursor: not-allowed !important;
  box-shadow: 0px 0px 1px @disabled_color !important;
}
.button__mods__success{
  .gradient(#73da90, #56ce74);
  color: white;
  // background: #269443;
   box-shadow: -1px -1px 1px #2ec54d inset, 0px 2px 6px #cecece, 0px 0px 8px #5FFF5F;

  &:hover, &.toggled {
    background: lighten(#269443, 10%);
    box-shadow: -1px -1px 1px #2ec54d inset, 0px 2px 6px #cecece, 0px 0px 16px #00FF00;
  }
}
.button__mods__select{
  padding: 0;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  font-weight: 600;
  padding-left: 12px;
  padding-right: 26px;
  border-radius: 5px;
}
.button__mods__error{
  .gradient(#da7b73, #ce5d56);
  box-shadow: -1px -1px 1px #c52f2e inset, 0px 2px 6px #cecece, 0px 0px 8px #FF5E5C;
  // background: #942626;
  color: white;

  &:hover, &.toggled {
    background: lighten(#942626, 10%);
    box-shadow: -1px -1px 1px #c52f2e inset, 0px 2px 6px #cecece, 0px 0px 16px #FC0300;
  }
}

.button__mods__noleftpadding{
  padding-left: 0;
}

.button__mods__norightpadding{
  padding-right: 0;
}





.buttonList{
  margin-top: 35px;

  &.buttonList__mod_right{
    text-align: right;
  }

  .button{
    margin-left: 12px;
    margin-right: 12px;

    &:last-child{
      margin-right: 0;
    }
    &:first-child{
      margin-left: 0;
    }
  }

}
