@import "../vars";
@import "../base";

r-city_field{
	display: block;
}

.cityfield{
    .base-field();
    min-width: 140px;
}

.cityfield__choicewrapper{
    .base-field__choicewrapper();
}
.cityfield__choice{
    .base-field__choice();
}
.cityfield__text{
    .base-field__text();
}
.cityfield__icon{
    .base-field__icon();
}