@margin: 25px;

#popup_container{

}

.mixin-header{
    font-size: 32px;
    margin-top: @margin;
    margin-bottom: @margin;
    font-family: serif;
    letter-spacing: 1px;
}

.mixin-label{
    color: #8e8e8e;
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    padding: 0;
    margin-bottom: 0;
}

.mixin-link{
    border-bottom: 1px dotted #474747;
    color: #515050;
}
.mixin-select{
    outline: none;
    margin-right: 8px;
    margin-bottom: 0px;
    position: relative;
    height: 36px;
}
.mixin-icon{
    margin-left: 6px;
}

.mixin-field-icon{
    position: absolute;
    right: 4px;
    top: 0px;
    z-index: 2;
    display: block;
    line-height: 36px;
    font-size: 20px;
    text-align: center;
    pointer-events: none;
}

.pointer{
    cursor: pointer;
}
.base-field{
    margin-right: 8px;
    margin-bottom: 0px;
    position: relative;
    outline: none;
}

.base-field__choicewrapper{
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: 36px;
}
.base-field__choice{
    color: #4a4a4a;
    line-height: 30px;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
    box-shadow: 0px 1px 2px #aaa;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 5px;
    .gradient(#ffffff, #f4f4f4);
    background-color: #ffffff;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    position: relative;

    .icon{
      width: 6px;
      position: relative;
      left: -3px;
    }
}
.base-field__text{
    // display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
}
.base-field__icon{
    // line-height: 32px;
    // position: absolute;
    // right:4px;
}

.docs__sample{
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}
