body {
    font-family: arial;
    background: url(assets/back_light.jpg);
    font-size: 16px;
    color: #515050;
}
.stage{	
	background: #f8f8f8;
    box-shadow: 0 0 24px #aaa;
    padding: 16px 71px 40px 71px;
}
.kitchen .title{
	font-size: 1.4em;
	line-height: 120%;
	margin-bottom: 20px;
}