@quad: 56;

@success_color: #f0faef;
@success_text_color: #269421;
@error_color: #f8e7e7;
@error_text_color: #df4343;

@disabled_color: #C2C0C0;

@popup_padding: 47px;
@popup_width: 90vw;
@popup_height: 420px;

@white: #ffffff;
@black: #2e2e2e;

@text_color: #4a4a4a;
@white_back: #f8f8f8;
@dark_back: #515151;
@text_color_white: #dbdbdb;

@button_down:#f4f4f4;
@button_up:#ffffff;

@title_color: #4d4d4d;

.gradient(@c1: @button_up, @c2: @button_down){
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, @c1), color-stop(1, @c2));
  background:-moz-linear-gradient(top, @c1 5%, @c2 100%);
  background:-webkit-linear-gradient(top, @c1 5%, @c2 100%);
  background:-o-linear-gradient(top, @c1 5%, @c2 100%);
  background:-ms-linear-gradient(top, @c1 5%, @c2 100%);
  background:linear-gradient(to bottom, @c1 5%, @c2 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='@c1', endColorstr='@c2',GradientType=0);
  background-color:@c1;
}

.transition-properties(...) {
  -webkit-transition: @arguments;
  -moz-transition: @arguments;
  -o-transition: @arguments;
  transition: @arguments;
}
.rounded-corners(@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}
.rounded-corners-left(@radius: 5px) {
  border-bottom-left-radius: @radius;
  border-top-left-radius: @radius;
  -webkit-border-bottom-left-radius: @radius;
  -webkit-border-top-left-radius: @radius;
  -moz-border-bottom-left-radius: @radius;
  -moz-border-top-left-radius: @radius;
}
.rounded-corners-right(@radius: 5px) {
  border-bottom-right-radius: @radius;
  border-top-right-radius: @radius;
  -webkit-border-bottom-right-radius: @radius;
  -webkit-border-top-right-radius: @radius;
  -moz-border-bottom-right-radius: @radius;
  -moz-border-top-right-radius: @radius;
}
.no-event{
  pointer-events:none;
}
.no-select() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
