
@import "../vars";
@import "../base";


r-select_field{
  display: inline;
}

.numberrange{
    .base-field();
}
.numberrange_wrapper{
   outline: none;
}

.numberrange__choicewrapper{
    .base-field__choicewrapper();
}

.numberrange__choice{
    .base-field__choice();
}

.numberrange__text{
    .base-field__text();
}
.numberrange__link{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
