
@import "../vars";
@import "../base";


r-range_field{
  display: block;
  .no-select() ;
}


.rangefield{
  background: none repeat scroll 0 0 #fafafa;
  border: 1px  solid #eeeeee;
  border-radius: 8px 8px 8px 8px;
  box-shadow: 0 0px 1px #ccc;
  height: 4px;
  width: 100%;
  position: relative;
  margin-top:26px;
  .no-select();
}

.rangefield__value{
  position: absolute;
  width: 100%;
  text-align: center;
  top: -26px;
  

}

.rangefield__area{
  position: absolute;
  background: #B1B1B1;
  height: 5px;
  margin-top: 0px;
}
.rangefield__handler{
      background: #989898;
    border-radius: 3px 3px 3px 3px;
    display: inline-block;
    height: 10px;
    width: 10px;
    margin-top: -3px;
    box-shadow: 0 0px 1px #ccc;
    position: absolute;
    z-index: 0;


    &.right{
      margin-left: -5px;
    }
}