@import "../vars";
@import "../base";

r-input{
	display: block;
}

.input input{
		box-shadow: 0 0 6px #E4E1E1 inset;
    border: 1px solid #D7D7D7;
    padding: 0 12px;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    border-radius: 0;
    margin-bottom: 6px;
}

.input_mod_error input{
	background: #FFE7E7;
}

.input_message{
	color: #D83737;
}
