
@import "../vars";
@import "../base";


r-select_field{
  display: inline;
}

.selectfield{
    .base-field(); 
    
}

.selectfield__choicewrapper{
    .base-field__choicewrapper();
}

.selectfield__choice{
  .base-field__choice();
}

.selectfield__text{
  .base-field__text();
}

.selectfield__icon{
    .base-field__icon();
}