
@import "../base";
@import "../vars";

.mask{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: black;
  opacity: 0.4;
  z-index: 98;
}

.select_input{
  position: absolute;
  z-index: 100;    
}
.select_input__body{

  position: absolute;
  z-index: 100;  

  .search{
    input.input{
      width: 100%;
      padding-top: 7px;
      padding-bottom: 7px;
      padding-left: 7px;
      box-sizing: border-box;
      box-shadow: 0 0 10px #666;
      border: 1px solid #777;
    }
  }
  .results{
    .transition-properties(all,0.2s,cubic-bezier(0.250, 0.460, 0.450, 0.940));
    position: absolute;
    background: white;
    border: 1px solid #777;
    box-shadow: 0 0 10px #666;
    margin-top: 0;
    margin-bottom: 0;
    border-top: none;
    padding-left: 0px;
    list-style: none;
    width: 100%;

    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 4px;
    background: @white_back;

    .result-item{
      .transition-properties(all,0.3s,cubic-bezier(0.250, 0.460, 0.450, 0.940));
      padding-left: 7px;

      height: 30px;
      width: 100%;
      white-space: nowrap;
      box-sizing: border-box;
      overflow: hidden;

      .label{
        padding-top: 5px;
        color: @text_color;
        font-weight: normal;
        line-height: 30px;
        b{
          color: #ff9997;
        }
      }

      &.highlighted, &:hover{
        background: @dark_back;
        border-left: 3px solid #828282;
        padding-left: 12px;
        .label{
          color: @text_color_white
        }
      }
      &:hover{
        background: lighten(@dark_back,20%);
      }
    }
  }
}
.select_input__clear{
     position: absolute;
     top: 0px;
     right: -24px;
     font-size: 0.8rem;
     color: #B8B8B8;
    width: 32px;
    height: 32px;


     &:hover{
       color: #666;
     }

}


.autocomplete__choice_wrapper{
  position: relative;
  display: inline-block;

  .md{
    .no-event();
    position: absolute;
    right: 8px;
    top:3px;

  }
}
.has-error .autocomplete__choice{
      background: linear-gradient(to bottom, #F2E5E5 5%, #FFC5C5 100%);
    color: #912d2d;
}